/* General Styles */
body {
    font-family: 'Nunito', sans-serif;
}

/* Navbar */
.navbar {
    background-color: #187C19;
}

.navbar-brand img {
    height: 30px;
    margin-right: 10px;
}

.navbar-brand,
.nav-link {
    color: white !important;
    display: flex;
    align-items: center;
    font-weight: 500;
}

/* Profile Card */
.card {
    border-radius: 10px;
    background-color: #ecf7e9; /* slightly updated light green */
    text-align: center;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 10px auto;
    max-width: 600px;
}

.card-head {
    background-color: #69B41E;
    color: white;
    font-size: 1.3rem;
    font-weight: 700;
    padding: 15px;
    border-radius: 10px;
}

.card-body {
    padding: 20px;
}

.card-body img {
    width: 100px;
    height: 100px;
    border-radius: 5%;
    border: 1px solid #187C19;
    margin-bottom: 15px;
}

.card-body h5 {
    font-size: 1.8rem;
    font-weight: 700;
    color: #187C19;
}

.card-body p {
    font-size: 1rem;
    font-weight: 400;
    color: #333;
    margin-bottom: 5px;
}

/* QR Code Card */
.qr-card {
    border-radius: 10px;
    background-color: #ffffff;
    text-align: center;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
}

.qr-card-header {
    background-color: #0D5B11;
    color: white;
    font-size: 1.3rem;
    font-weight: 700;
    padding: 15px;
    border-radius: 10px 10px 0 0;
}

.profile-header, .qr-header {
    text-align: center;
    padding: 10px;
    border-radius: 8px;
}

.profile-header h3,
.qr-header h4 {
    font-weight: bold;
    color: #ffffff;
    margin: 0;
}

/* Green button variant */
.btn-greend {
    background-color: #69B41E;
    color: white;
    border: none;
    margin-top: -40px;
}

.btn-greend:hover {
    background-color: #8DC71E;
}

.qr-card img {
    width: 150px;
    height: 150px;
    border: 3px solid #69B41E;
    padding: 5px;
    border-radius: 10px;
}

.qr-card p {
    font-size: 1rem;
    font-weight: 400;
    color: #333;
    margin-top: 10px;
}

/* Logout Button */
.btn-logout {
    background-color: #69B41E;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    font-weight: 600;
    border-radius: 5px;
    transition: background 0.3s;
    display: block;
    width: 50%;
    margin: 20px auto;
}

.btn-logout:hover {
    background-color: #8DC71E;
}

/* Responsive Design */
@media (max-width: 768px) {
    .card,
    .qr-card {
        max-width: 90%;
    }
}
